MAMT2_DETECTRON2_ROOT=/home/david/Python_projects/mamt2-stack/detectron2
MAMT2_MAIN_DIR=/home/david/Python_projects/mamt2-stack/detectron2/projects/MAMT2_main
MAMT2_CONFIG_PATH=/home/david/Python_projects/mamt2-stack/mamt2-artifacts/configs/config_ubuntu.yaml
MAMT2_WEIGHT_PATH=/home/david/Python_projects/mamt2-stack/mamt2-artifacts/weights/model_best_segm.pth
MAMT2_CLASSIFIER_WEIGHT_PATH=/home/david/Python_projects/mamt2-stack/mamt2-artifacts/weights/mamt2_task18_best.pth
MAMT2_OUTPUT_DIR=/home/david/Python_projects/mamt2-stack/mamt2-cloud-shm/runtime/worker_outputs
MAMT2_WORKER_HOST=0.0.0.0
MAMT2_WORKER_PORT=9000
OMP_NUM_THREADS=1
