MAMT2_DETECTRON2_ROOT=
MAMT2_MAIN_DIR=./worker/mamt2_runtime
MAMT2_CONFIG_PATH=./model/config.yaml
MAMT2_WEIGHT_PATH=./model/model_best_segm.pth
MAMT2_CLASSIFIER_WEIGHT_PATH=./model/mamt2_task18_best.pth
MAMT2_OUTPUT_DIR=./runtime/worker_outputs
MAMT2_WORKER_HOST=0.0.0.0
MAMT2_WORKER_PORT=9000
OMP_NUM_THREADS=1
