# Python
__pycache__/
*.pyc

# Conda / venv
.venv/
env/
.env

# VSCode
.vscode/

# Uploaded / generated images
backend/app/uploads/*
backend/app/outputs/*
runtime/
model/

# keep folder
!backend/app/uploads/.gitkeep
!backend/app/outputs/.gitkeep

# Model artifacts
*.pth
*.pkl

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
